accounts:
- username: temp_3109
  password: autoregister@123
- username: temp_4882
  password: autoregister@123
- username: temp_0697
  password: autoregister@123
- username: temp_7383
  password: autoregister@123
- username: temp_3810
  password: autoregister@123
- username: temp_1586
  password: autoregister@123
- username: temp_6121
  password: autoregister@123
- username: temp_8449
  password: autoregister@123
- username: temp_9168
  password: autoregister@123
- username: temp_8242
  password: autoregister@123
- username: temp_9342
  password: autoregister@123
- username: temp_0156
  password: autoregister@123
- username: temp_3027
  password: autoregister@123
- username: temp_1842
  password: autoregister@123
- username: temp_9656
  password: autoregister@123
